{
    "name": "%vendor-small%/module-%module-small%",
    "description": "",
    "type": "magento2-module",
    "license": "proprietary",
    "authors": [
        {
            "email": "info@yourdomain.com",
            "name": "DEV"
        }
    ],
    "minimum-stability": "dev",
    "require": {},
    "autoload": {
        "files": [
            "registration.php"
        ],
        "psr-4": {
            "%vendor%\\%module%\\": ""
        }
    }
}